.Rproj.user
.DS_Store
.Rhistory
inst/doc

data-raw/survey/

data-raw/third_experiment_dat.rds

data-raw/third_experiment_order.txt

data-raw/survey_fourth/

data-raw/fourth_experiment_dat.rds

data-raw/fourth_experiment_order.txt
